{% extends "base.html" %}

{% block body %}
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4"> 


    <form class="form-horizontal">
  <fieldset>
      <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Enter your &nbsp;&nbsp; <span><i class="fa fa-2x fa-instagram"></i></span> &nbsp;&nbsp; Username</h3>
  </div>
  <div class="panel-body">
   
        <input type="text" class="form-control" name="username" placeholder="Instagram Username" autocomplete="off" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
  </div>
</div>
              <button type="submit" class="btn btn-primary"><h4>Submit</h4></button>
 

</div>

 
  </fieldset>
      <div class="ui error message"></div>
    </form>
    {% if error_message %}
    <div class="ui negative message">
      <h4>{{ error_message }}</h4>
    </div>

    </div>
</div>

    {% endif %}
 
{% endblock %}

